<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout voiture</title>
</head>
<body>
     <h1>Formulaire Ajout voiture </h1>
    <form method="post">
       
          {{ form_widget(formV) }}
         <input type="submit" value="addVoiture">
    </form>
</body>
</html>